{% extends "Officer/index.html" %}
{% load static %}
{% block content %}



    <!-- Page Content -->
        </nav>
        <br>

        <div class="container-fluid">
            <div class="login">
                <div class="title"><b>Change Password</b></div>
                <form action="#" method="post" validate onsubmit="update()">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="username">
                            <i class="fa-solid fa-key"></i>
                            {{form.old_password}}
                        </div>
                        <div class="username">
                            <i class="fa-solid fa-key"></i>
                            {{form.new_password1}}
                        </div>
                        <div class="username">
                            <i class="fa-solid fa-key"></i>
                            {{form.new_password2}}
                        </div>
                    </div>
                    <button type="submit" class="signin-button">Change Password</button>
                    {% for message in messages %}
                    <p class="text-center">{{ message }}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->


{% endblock content %}