{% extends "Officer/index.html" %}
{% load static %}
{% block content %}

    <!-- Page Content -->
</nav>
<br/>
        <div class="container-fluid">
            <h1 class="my-0 text-dark text-center"><b>Complaints Details </h1><hr>
            <div class="login mt-4">
                <div class="title"><b>{{c.get_Type_of_complaint_display}}</b></div>
                <form method="post">
                    {% csrf_token %}
                    <table class="fields w-100">
                        <tr>
                         <td>Username</td>
                         <td class="ps-4 pe-2">:</td>
                         <td class="ps-2 py-2">{{c.user.first_name}} {{c.user.last_name}} </td>
                        </tr>
                       <tr>
                        <td>Subject</td>
                        <td class="ps-4 pe-2">:</td>
                        <td class="ps-2 py-2">{{c.Subject}}</td>
                       </tr>
                       <tr>
                        <td>Description</td>
                        <td class="ps-4 pe-2">:</td>
                        <td class="ps-2 py-2">{{c.Description}}</td>
                       </tr>
                       <tr>
                        <td>Issued</td>
                        <td class="ps-4 pe-2">:</td>
                        <td class="ps-2 py-2">{{c.Time}}</td>
                       </tr>
                       <tr>
                        <td>Status</td>
                        <td class="ps-4 pe-2">:</td>
                        <td class="ps-2 py-2">{{forms.status}}</td>
                       </tr>
                    </table>
                    <button type="submit" class="signin-button">Submit</button>
                    {% for message in messages %}
                    <p class="text-center">{{ message }}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->


{% endblock content %}