.login {
    padding: 33px 49px 15px 49px;
    border-radius: 40px;
    background-color: #d4e7f5;
    box-shadow: 13px 13px 20px #cbced1,
      -13px -13px 20px #fff;
      margin-top: 3rem;
  }
  
.title {
    text-align: center;
    font-size: 25px;
    padding-top: 1px;
    letter-spacing: 0.5px;
    margin-top: 8px;
  }
  
  .fields {
    width: 100%;
    padding: 2px 3px;
  }
  
  .fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    color: #555;
    padding: 8px 0px;
  }
  
  .username,
  .password {
    margin-bottom: 18px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px#cbced1, inset -8px -8px 8px #fff;
  }
  
  i {
    height: 22px;
    margin: 0 10px -3px 25px;
  }
  
  .signin-button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .signin-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5845ea;
    border-radius: 10rem;
    z-index: -2;
  }
  .signin-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #001763;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .signin-button:hover:before {
    width: 100%;
  }
  